@model RoleInputModel

@{
    ViewBag.Title = "Add Role";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<partial name="_RoleInputPartial" model="@Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}