<div class="management-container">
    <p>Navigation menu</p>
    <div class="cube-container">
        <a asp-area="Manage" asp-controller="Users" asp-action="All" class="cube-anchor">Users</a>
        <a asp-area="Manage" asp-controller="Roles" asp-action="All" class="cube-anchor">Roles</a>
    </div>
    
    <div class="circle-container">
        <a asp-area="Manage" asp-controller="BikeTypes" asp-action="All" class="circle-anchor">
            <span class="circle-text">Bike Types</span>
        </a>
        <a asp-area="Manage" asp-controller="BikeTypes" asp-action="All" class="circle-anchor">
            <span class="circle-text">Challenges</span>
        </a>
        <a asp-area="Manage" asp-controller="BikeTypes" asp-action="All" class="circle-anchor">
            <span class="circle-text">Training Plans</span>
        </a>
        
    </div>
    
</div>