html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.spinner-modal {
    position: fixed;
    z-index: 999;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: Black;
    opacity: 0.6;
}

.spinner-center {
    z-index: 1000;
    margin: 10px auto;
    padding: 10px;
    width: 105px;
    background-color: White;
    border-radius: 10px;
    opacity: 1;
}

.spinner-center img {
    height: 100px;
    width: 100px;
}

input.form-control[type="file"] {
    margin-bottom: 16px;
}

div#pictures-list {
    margin-right: 10px;
}

.manage-header {
    text-align: center;
}

.activities-toolbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*border: 1px solid #ccc;*/
    padding: 10px;
}

.activities-toolbox-left {
    display: flex;
    align-items: center;
}
.activities-toolbox-right {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.search-input-wrapper {
    display: flex;
    gap: 10px;
    align-items: center;
}

.search-input {
    width: 400px;
    display: inline-block;
}

.activities {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 10px;
}

.activities > * {
    width: 32%;
}

.activity-display {
    background-color: whitesmoke;
    border: 1px solid papayawhip;
    border-radius: 10px;
}

.activity-display > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-radius: 6px;
}

.activity-display > table {
    width: 90%;
}

.activity-display a {
    margin-bottom: 10px;
    vertical-align: bottom;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

#map {
    position: relative;
    top: 10px;
    left: 0;
    width: 100%;
    height: 400px;

}

div.paging-toolbar {
    width: 90%;
    padding-top: 10px;
}

.activity-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.action-buttons {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 10px;
}

.create-comment-container {
    text-align: right;
}

.create-comment-button {
    width: 20%;
    margin: 10px;
}

.comment-view {
    background-color: whitesmoke;
    border: 1px solid antiquewhite;
    border-radius: 10px;
    padding: 16px;
    margin-bottom: 10px;
}

.activity-image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.activity-image-container img {
    flex: 0 0 calc(33.33% - 10px);
    max-width: 33%;
    height: 300px;
    margin-bottom: 10px;
}

.activity-data-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    margin-top: 10px;
}

.activity-data-table th,
.activity-data-table td {
    text-align: center;
    padding: 8px;
    border: 1px solid #ccc;
}

.activity-data-table th {
    text-align: center;
    background-color: #f2f2f2;
    color: black;
}

.activity-data-table td h5 {
    margin: 0;
    text-align: right;
}

.cube-container {
    perspective: 1000px; /* Adjust the perspective value for depth */
}

.cube-anchor {
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: #3dd5f3;
    color: white; /* Text color */
    text-align: center;
    line-height: 200px;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    transition: transform 0.3s;
}

.cube-anchor:hover {
    transform: rotateX(-15deg) rotateY(15deg) rotateZ(0deg);
}

.circle-container {
    display: inline-block;
    margin-top: 20px;
}

.circle-anchor {
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: darkgrey;
    color: white; /* Text color */
    text-align: center;
    line-height: 100px;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    transition: transform 0.3s;
}

.circle-text {
    display: inline-block;
    transform-origin: center;
    transition: transform 0.3s;
}

.circle-anchor:hover {
    transform: rotate(360deg);
}

.circle-anchor:hover .circle-text {
    transform: rotate(-360deg);
}

.width-250 {
    width: 250px;
}

#activity-pictures {
    display: flex;
    width: 100%;
}

#activity-pictures img {
    flex: 1; 
    max-width: 33.33%;
    height: auto;
}