@model ResultMessageModel?

@{
    ViewData["Title"] = "Home Page";
}

@if(@Model is not null) 
{
    if (!string.IsNullOrEmpty(@Model.Success))
    {
        <div id="alert" class="alert alert-success">
            <p>@Model.Success</p>
        </div>
    }
    if (!string.IsNullOrEmpty(@Model.Error))
    {
        <div id="alert" class="alert alert-danger">
            <p>@Model.Error</p>
        </div>
    }
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>