@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h2>This is a study project for the course "ASP.NET Advanced - June 2023" in SoftUni</h2>

<h3>My account is <strong>kkiryazov</strong> with number <strong>600006283</strong> </h3>

<h4>Repository <a href="https://github.com/kiryazovkosta/CyclingWorldSystem" target="_blank">repo</a></h4>

<h4>Some of features</h4>
<ul>
    <li>Create account with external data - real names and avatar</li>
    <li>Confirm account through email</li>
    <li>Self change password when user is logged in</li>
    <li>Self change personal data when user is logged in</li>
    <li>Recover forgotten password through email</li>
    <li>Resend email confirmation to activate your account</li>
    <li>Administration of users, roles and global nomenclatures</li>
    <li>Assign users to roles as administrator</li>
    <li>Filtering, pagination and sorting of users' administration</li>
    <li>Create, update, delete of user's bike</li>
    <li>Processing of Gpx file - parse data from xml structure file and load it into database </li>
    <li>Create activity</li>
    <li>Like/dislike activity</li>
    <li>Create, Update or delete comments for your or other users' activities</li>
    <li>Upload pictures to activity using cloudinary for data storage</li>
    <li>View activities with pagination</li>
    <li>Search inside activities' title or description</li>
    <li>Display detailed information for activity</li>
    <li>If user is owner of activity display private information</li>
    <li>and more</li>
</ul>