@model ActivityViewModel


<div class="activity-info">
    <p>Number of people who like this activity <span id="likes-count">@Model.LikeCount</span></p>
    <div class="action-buttons">
        @if(Model.IsLikedByMe) 
        {
            <a class="btn btn-secondary" id="like-activity" style="display: none;"><i class="fa-solid fa-thumbs-up"></i>Like activity</a>
            <a class="btn btn-danger" id="dislike-activity"><i class="fa-solid fa-thumbs-down"></i>Dislike activity</a>
        }
        else 
        {
            <a class="btn btn-secondary" id="like-activity"><i class="fa-solid fa-thumbs-up"></i>Like activity</a>
            <a class="btn btn-danger" id="dislike-activity" style="display: none;"><i class="fa-solid fa-thumbs-down"></i>Dislike activity</a>
        }
    </div>
</div>