@model PagedActivityDataViewModel;

<h2>Activities</h2>

<div class="activities-toolbox">
    <div class="activities-toolbox-left">
        <a asp-area="" asp-controller="Activities" asp-action="Create" class="btn btn-primary">Create new activity</a>
    </div>
    <div class="activities-toolbox-right">
        <form asp-action="All" method="get">
            <input type="text" class="search-input form-control" placeholder="Search text.If text is not entered will be return all records. " name="searchString" />
            <input type="submit" class="search-button btn btn-info" value="Search" />
        </form>
    </div>
</div>


@if (Model.Items.Any())
{
    <div class="activities">
        @foreach (var activity in Model.Items)
        {
            <partial name="_ActivityViewPartial" model="@activity" /> 
        }
    </div>
    
    <partial name="_ActivitiesPagingViewPartial" model="@Model"/>
}
else
{
    <h2>There are no activities by selected parameters.</h2>
}





